{{template "okquant/header.html".}}

<section class="col-xs-12 col-md-4 first">
  <h2 class="top-title">创建策略</h2>
        {{template "okquant/msgerr.html" .}}
        <div class="tabbable" style="margin-bottom: 18px;">
          <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
            <div class="tab-pane active" id="tab1">
              <form class="form-horizontal" action="/strategy/save/{{.data.Id}}" method="post">
                <!--<div class="control-group">-->
                  <!--<label class="control-label" for="email">Email</label>-->
                  <!--<div class="controls">-->
                    <!--<input type="text" id="email" name="email" placeholder="Email" class="form-control input-lg text-34"/>-->
                    <!--{{if .xsrfdata}}{{.xsrfdata}}{{end}}-->
                  <!--</div>-->
                <!--</div>-->
                  <div class="control-group">
                      <label class="control-label" for="Name" >名称</label>
                      <div class="controls">
                          <input type="text" id="name" name="Name" placeholder="name" value="{{.data.Name}}" class="form-control input-lg text-34"/>
                      </div>
                  </div>
                <div class="control-group">
                  <label class="control-label" for="Content" >内容</label>
                  <div class="controls">
                      <textarea id="Content" name="Content" class="input-block-level" style="height: 160px" placeholder="Enter text ...">{{.data.Content}}</textarea>
                      </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn btn-primary btn-lg btn-xl">保存</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
            <h2 class="top-title">模拟测试</h2>
            <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
                <div class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="Name" >回测</label>
                        <div class="input-daterange controls" id="datepicker">
                            <div class="input-prepend">
                                <span class="add-on">开始</span>
                                <input class="span3" name="start" id="prependedInput" type="text" placeholder="Username">
                            </div>
                            <div class="input-prepend">
                                <span class="add-on">结束</span>
                                <input class="span3" name="end" id="prependedInput" type="text" placeholder="Username">
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary btn-lg btn-xl">开始回测</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{{template "okquant/footer.html"}}
<script>
    showMenu("menu_strategy");
    initEditor(document.getElementById("Content"));
        // When the document is ready
    $(document).ready(function () {

        $('.input-daterange').datepicker({
            todayBtn: "linked",
            rtl: true
        });

    });
</script>


